* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: MyFont;
    src: url('./jam.otf') format('opentype');
}

@font-face {
    font-family: MyFont2;
    src: url('./pie.otf') format('opentype');
}

nav li {
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    padding: 20px;
}

nav ul li input {
    padding: 5px;
    border-radius: 5px;
}

nav ul li input:focus {
    outline: none;
}

input::placeholder {
    font-size: 15px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 20px;
}

.dish {
    width: 400px;
    display: grid;
    grid-template-areas:
        "name img"
        "category img";
    grid-gap: 20px;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    background-color: #ccc;
}

.dish img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.dish h1 {
    grid-area: name;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: MyFont;
    letter-spacing: 2px;
    line-height: 1.5;
}

.dish h2 {
    /* font-family: MyFont2; */
    grid-area: category;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.dish img {
    grid-area: img;
    margin: auto;
}

/* set media query for min width 320px */
@media screen and (min-width: 320px) {
    nav ul {
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}